{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="page-header" id="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Flask App Demo</h1>
        <p class="lead">Using Bootswatch theme with Flask templates... Hello AWS!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}