<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">  
    <a href="../" class="navbar-brand">Chris Turori</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="https://www.linkedin.com/in/chris-turori/"><i class="fab fa-linkedin"></i> LinkedIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-github"></i> Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://gitlab.com/cturori/flaskapplicationdemo"><i class="fab fa-gitlab"></i> Gitlab</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="https://hub.docker.com/repository/docker/cturori/flask-app-demo"><i class="fab fa-docker"></i> Docker</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>